body {
    background-color: #C9E6F0;
}

.card {
    width: 750px;
    text-align: center;
    font-family: Garamond, sans-serif;
    margin: 0 auto;
}

.title,
.sub-title {
    color: #FBF8EF;
    background-color: #78B3CE;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: auto;
}

.link-list {
    text-align: center;
    padding: 0;
}

.description-text,
.list-container {
    padding: 0 20px;
}

.list-container{
    text-align: left;
}
